# IBM Employee Inferential Statstics

![alt text](https://drive.google.com/uc?export=view&id=1RNnstLhQAfK4fMvFs6GG7e9pEdG2APgD)

### From the previous part, the dashboard shows a problem that is to find what factors causing employees to leave this company?
So we start to look it deeper. By doing an Inferential Statistic to create an attrition decision model in order to illustrate the factors that cause resignation problems so that the business can adapt to the problems correctly.

## Import Dataset

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
file_dest = '/content/IBM_dataset.xlsx'
dt = pd.read_excel(file_dest, index_col='EmployeeNumber')
dt.head() #Use only variables that can explain the meaning.

                Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
EmployeeNumber                 ...
1                41       Yes  ...                       0                    5
2                49        No  ...                       1                    7
4                37       Yes  ...                       0                    0
5                33        No  ...                       3                    0
7                27        No  ...                       2                    2

[5 rows x 26 columns]

In [3]:
dt.describe()

               Age  ...  YearsWithCurrManager
count  1470.000000  ...           1470.000000
mean     36.923810  ...              4.123129
std       9.135373  ...              3.568136
min      18.000000  ...              0.000000
25%      30.000000  ...              2.000000
50%      36.000000  ...              3.000000
75%      43.000000  ...              7.000000
max      60.000000  ...             17.000000

[8 rows x 18 columns]

## Data Manipulation

In [4]:
dt.info() #check NULL values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1470 entries, 1 to 2068
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EnvironmentSatisfaction   1470 non-null   int64
 8   Gender                    1470 non-null   object
 9   JobInvolvement            1470 non-null   int64
 10  JobRole                   1470 non-null   object
 11  JobSatisfaction           1470 non-null   int64
 12  MaritalStatus             1470 non-null   object
 13  MonthlyIncome             1470 non-null   int64
 14  NumCompaniesWorked        1470 non-null   int64
 15  OverTime                  1470 non-null   object
 16  PercentSalaryHike         1470 non-null   float64
 17  PerformanceRating         1470 non-null   int64
 18  RelationshipSatisfaction  1470 non-null   int64
 19  StockOptionLevel          1470 non-null   int64
 20  TotalWorkingYears         1470 non-null   int64
 21  WorkLifeBalance           1470 non-null   int64
 22  YearsAtCompany            1470 non-null   int64
 23  YearsInCurrentRole        1470 non-null   int64
 24  YearsSinceLastPromotion   1470 non-null   int64
 25  YearsWithCurrManager      1470 non-null   int64
dtypes: float64(1), int64(17), object(8)
memory usage: 310.1+ KB

In [5]:
cols_dum = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime', 'Attrition']
dummies=pd.get_dummies(dt[cols_dum], drop_first=True) #dummied those columns
dummies.head()

                BusinessTravel_Travel_Frequently  ...  Attrition_Yes
EmployeeNumber                                    ...
1                                              0  ...              1
2                                              1  ...              0
4                                              0  ...              1
5                                              1  ...              0
7                                              0  ...              0

[5 rows x 22 columns]

In [6]:
df = dt.drop(cols_dum, axis=1)
df = pd.concat([df, dummies], axis=1) #merge to a new dataframe
df.head()

                Age  DistanceFromHome  ...  OverTime_Yes  Attrition_Yes
EmployeeNumber                         ...
1                41                 1  ...             1              1
2                49                 8  ...             0              0
4                37                 2  ...             1              1
5                33                 3  ...             1              0
7                27                 2  ...             0              0

[5 rows x 40 columns]

In [7]:
X = df[list(df.columns)].drop('Attrition_Yes', axis=1)
y = df['Attrition_Yes']
X.head()

                Age  DistanceFromHome  ...  MaritalStatus_Single  OverTime_Yes
EmployeeNumber                         ...
1                41                 1  ...                     1             1
2                49                 8  ...                     0             0
4                37                 2  ...                     1             1
5                33                 3  ...                     0             1
7                27                 2  ...                     0             0

[5 rows x 39 columns]

## Modeling
In this step, I'll use Logistic Regression Model to define an attrition factor because it can be easily interpreted which factor is the most effective to make a decision.

In [8]:
from patsy import dmatrices

In [9]:
y, X = dmatrices("""Attrition_Yes ~ Age + DistanceFromHome + EnvironmentSatisfaction + JobInvolvement + 
       JobSatisfaction + RelationshipSatisfaction + TotalWorkingYears + 
       WorkLifeBalance + YearsInCurrentRole + YearsSinceLastPromotion + 
       YearsWithCurrManager + BusinessTravel_Travel_Frequently + BusinessTravel_Travel_Rarely + 
       EducationField_Marketing + EducationField_Medical + 
       EducationField_Other + Gender_Male + MaritalStatus_Married + 
       MaritalStatus_Single + OverTime_Yes""", 
       data = df, return_type='dataframe') #best model (by Backward Stepwise Selection)

In [10]:
model = sm.Logit(y, X).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.321982
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:          Attrition_Yes   No. Observations:                 1470
Model:                          Logit   Df Residuals:                     1449
Method:                           MLE   Df Model:                           20
Date:                Mon, 22 Jun 2020   Pseudo R-squ.:                  0.2710
Time:                        12:08:48   Log-Likelihood:                -473.31
converged:                       True   LL-Null:                       -649.29
Covariance Type:            nonrobust   LLR p-value:                 1.761e-62
====================================================================================================
                                       coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------------------------
Intercept                            2.1774      0.773      2.817      0.005       0.663       3.692
Age                                 -0.0241      0.013     -1.916      0.055      -0.049       0.001
DistanceFromHome                     0.0363      0.010      3.637      0.000       0.017       0.056
EnvironmentSatisfaction             -0.3930      0.078     -5.064      0.000      -0.545      -0.241
JobInvolvement                      -0.5465      0.115     -4.739      0.000      -0.773      -0.321
JobSatisfaction                     -0.4041      0.076     -5.335      0.000      -0.553      -0.256
RelationshipSatisfaction            -0.2138      0.077     -2.780      0.005      -0.365      -0.063
TotalWorkingYears                   -0.0570      0.019     -2.931      0.003      -0.095      -0.019
WorkLifeBalance                     -0.3042      0.115     -2.635      0.008      -0.531      -0.078
YearsInCurrentRole                  -0.1196      0.041     -2.912      0.004      -0.200      -0.039
YearsSinceLastPromotion              0.1852      0.037      5.008      0.000       0.113       0.258
YearsWithCurrManager                -0.0964      0.041     -2.375      0.018      -0.176      -0.017
BusinessTravel_Travel_Frequently     1.7639      0.388      4.545      0.000       1.003       2.525
BusinessTravel_Travel_Rarely         0.9594      0.363      2.646      0.008       0.249       1.670
EducationField_Marketing             0.4423      0.259      1.709      0.087      -0.065       0.950
EducationField_Medical              -0.3623      0.193     -1.881      0.060      -0.740       0.015
EducationField_Other                -0.2954      0.387     -0.763      0.445      -1.054       0.463
Gender_Male                          0.4139      0.174      2.372      0.018       0.072       0.756
MaritalStatus_Married                0.2702      0.242      1.115      0.265      -0.205       0.745
MaritalStatus_Single                 1.2907      0.244      5.292      0.000       0.813       1.769
OverTime_Yes                         1.7670      0.178      9.937      0.000       1.418       2.116
====================================================================================================

In [11]:
print(np.exp(model.params)) #log-odds (explained coefficient)

Intercept                           8.823034
Age                                 0.976229
DistanceFromHome                    1.037009
EnvironmentSatisfaction             0.675000
JobInvolvement                      0.578948
JobSatisfaction                     0.667561
RelationshipSatisfaction            0.807516
TotalWorkingYears                   0.944617
WorkLifeBalance                     0.737704
YearsInCurrentRole                  0.887232
YearsSinceLastPromotion             1.203492
YearsWithCurrManager                0.908103
BusinessTravel_Travel_Frequently    5.834935
BusinessTravel_Travel_Rarely        2.610072
EducationField_Marketing            1.556294
EducationField_Medical              0.696065
EducationField_Other                0.744269
Gender_Male                         1.512644
MaritalStatus_Married               1.310167
MaritalStatus_Single                3.635488
OverTime_Yes                        5.853293
dtype: float64

## Conclusions & Recommendations

The conclusion for this model are shown as list:
1. These are the factors that causing employees to make a decision to leave this company or not. (Except MaritalStatus_Married and EducationField_Other)
2. The most effective factor that makes employees decide to leave this company is overtime (If employees work overtime, they tend to leave this company about 585% compared to employees who do not work overtime) and the second one is the frequent of the employees traveling.
3. The least effective factor is JobInvolvement (~57% if they have less job responsibility).

To avoid employee attrition problem, the company needs to:
1. The company should take good care of employees and should not let them work more than necessary and checking the reasons of employees who travel frequently.
2. The company must make the environment better, especially Work-Life Balance (WorkLifeBalance 73.7%) and Team working environment (RelationshipSatisfaction 80.7%)